Automat==25.4.16
Jinja2==3.1.6
MarkupSafe==2.1.5
PyGObject==3.50.0
PyHamcrest==2.1.0
PyJWT==2.10.1
PyQt6==6.9.1
PyQt6_sip==13.10.2
PyYAML==6.0.2
Pygments==2.18.0
Twisted==24.11.0
agentmail==0.4.15
annotated-types==0.7.0
ansible-core==2.20.2
ansible==13.3.0
anyio==4.13.0
argcomplete==3.6.2
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
bcrypt==4.2.0
blinker==1.9.0
boto3==1.37.9
botocore==1.37.9
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
command-not-found==0.3
configobj==5.0.9
constantly==23.10.4
cryptography==43.0.0
dbus-python==1.4.0
distro-info==1.14
distro==1.9.0
fail2ban==1.1.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflect==7.3.1
iniconfig==2.3.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.19.2
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
librt==0.9.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.7.0
mypy==1.20.2
mypy_extensions==1.1.0
netifaces==0.11.0
numpy==2.4.4
oauthlib==3.2.2
packaging==25.0
passlib==1.7.4
pathspec==1.1.0
pemmican==1.0.3
pexpect==4.9.0
pillow==12.2.0
pipx==1.7.1
platformdirs==4.3.7
pluggy==1.6.0
psutil==7.0.0
ptyprocess==0.7.0
pyOpenSSL==25.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pydantic==2.13.1
pydantic_core==2.46.1
pyinotify==0.9.6
pyparsing==3.1.2
pyserial==3.5
pytesseract==0.3.13
pytest==9.0.3
python-apt==3.0.0+ubuntu1.1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu1
python-magic==0.4.27
referencing==0.36.2
requests==2.32.3
resolvelib==1.2.1
rich==13.9.4
rpds-py==0.21.0
ruff==0.15.11
s3transfer==0.11.4
service-identity==24.2.0
setuptools==78.1.1
six==1.17.0
sos==4.10.2
ssh-import-id==5.11
systemd-python==235
typeguard==4.4.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufw==0.36.2
unattended-upgrades==0.1
urllib3==2.3.0
userpath==1.9.2
wadllib==2.0.0
websockets==16.0
wheel==0.46.1
xkit==0.0.0
zipp==3.21.0
zope.interface==7.2
